/* CSS BY CRISTOPHER FARRELL */
/* UPDATED 09.22.2026 */

/*** CSS RESET ***/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*** ROOT STYLES ***/
:root {
    --dark-blue: rgb(72, 61, 139);
    --pink: rgb(255, 105, 180);
    --white: rgb(245,255,250);
    --black: rgb(0, 0, 0);
    --main-font: "Commissioner", sans-serif;
    --title-font: "Fascinate Inline", system-ui;
}

/*** UNIVERSAL STYLES ***/

body {
    background-image: url("../images/leopard-texture.jpg");
    font-family: var(--main-font);
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    line-height: 1.5rem;
}

main { 
    margin: 1rem;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
}

h1 {
    font-family: var(--title-font);
    font-size: 2rem;
}

img { 
    width: 80vw;
    height: auto;
    max-width: 80%;
}

#title_poster, #w_d {
    display: grid;
    grid-template-rows: auto auto;
    align-items: center;
    justify-items: center;
}

h1, #title_poster img, #r_r_r p, #w_d p, #plot {
    padding: 1rem;
    margin: 1rem;
    background-color: var(--dark-blue);
    color: var(--white);
    border: 12px var(--pink) double; 
}

#r_r_r p:first-word, #w_d p:first-word {
    font-weight: bold;
}

#middle {
    display: flex;
    flex-direction: row;
}

#r_r_r p, #w_d p {
    flex: 1;
}

#r_r_r {
    display: grid;
    grid-template-rows: auto auto auto;
    align-items: center;
    justify-items: left;
}

#w_d {
    justify-items: right;
}

#plot {
    line-height: 2rem;
}

footer {
    background-color: var(--black);
    color: var(--white);
    line-height: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer a {
    text-decoration: none;
    color: var(--pink);
}

.button {
    text-decoration: none;
    text-align: center;
    background-color: var(--black);
    color: var(--white);
    padding: 14px 20px;
    display: inline-block;
    font-weight: bold;
    border-radius: 10px;
    border: 4px var(--black) outset;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: var(--white);
    color: var(--black);
}


/*** MED SCREENS ***/

@media (min-width: 680px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        gap: 1.5rem;
    }

    h1 {
        font-size: 2.5rem;
    }

    #title_poster {
        grid-area: 1 / span 2;
    }

    #plot p {
        font-size: 1.5rem;
    }

    #middle {
        padding-top: 8rem;
        grid-area: 1 / 3;
        display: flex;
        flex-direction: column;
    }

    #r_r_r {
        justify-items: right;
    }

    #plot {
        grid-area: 3 / span 3;
    }
}

@media (min-width: 1200px) {
    h1 {
        font-size: 3rem;
    }

    p { 
        font-size: 1.5rem;
    }

    #plot p {
        font-size: 2rem;
    }

}