/* CSS BY CRISTOPHER FARRELL */
/* UPDATED 09.22.2026 */

/*** CSS RESET ***/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*** ROOT STYLES ***/
:root {
    --dark-blue: rgb(72, 61, 139);
    --pink: #ff69b4;
    --white: rgb(245,255,250);
    --black: rgb(0, 0, 0);
    --main-font: "Commissioner", sans-serif;
    --title-font: "Slackey", sans-serif;
}

/*** UNIVERSAL STYLES ***/

body {
    background-color: var(--dark-blue);
    font-family: var(--main-font);
    font-size: 1rem;
    line-height: 1.5rem;
}

main { 
    margin: 1rem;
    padding: 1rem;
    background-image: url("../images/josie_assets/leopard-texture.png");
    display: grid;
    grid-template-columns: 1fr 1fr;
}

header {
    grid-area: 1 / span 2;
    line-height: 2rem;
}

h1 {
    font-family: var(--title-font);
    font-size: 2rem;
    justify-self: center;
}

img { 
    width: 85vw;
    height: auto;
    max-width: 90%;
}

.glam_shot {
    grid-area: 2 / span 2;
}

#middle {
    grid-area: 3 / span 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}

#middle img {
    width: 75vw;
    height: auto;
    max-width: 80%;
    grid-area: 4 / span 3;
    border: 3px var(--white) solid;
}

#r_r_r {
    grid-area: 1 / span 3;
}

#w_d { 
    grid-area: 3 / span 3;
}

#plot {
    grid-area: 4 / span 2;
}

header, #r_r_r p, #w_d p, #plot {
    padding: 1rem;
    margin: 1rem;
    background-color: var(--dark-blue);
    color: var(--white);
    border: 12px var(--pink) double; 
}

#r_r_r p, #w_d p, #plot {
    border: 6px var(--pink) solid; 
}


footer {
    background-color: var(--black);
    color: var(--white);
    line-height: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer a {
    text-decoration: none;
    color: var(--pink);
}

.button {
    text-decoration: none;
    text-align: center;
    background-color: var(--black);
    color: var(--white);
    padding: 14px 20px;
    display: inline-block;
    font-weight: bold;
    border-radius: 10px;
    border: 4px var(--black) outset;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: var(--white);
    color: var(--black);
}

/*** MED SCREENS ***/

@media (min-width: 768px) {
    h1 {
        font-size: 2.5rem;
        line-height: 3rem;
    }

    main {
        grid-template-columns: repeat(3, 1fr);
    }

    header {
        grid-area: 1 / span 3;
        place-content: center;
    }

    .glam_shot {
        grid-area: 2 / span 2;
    }

    #middle {
        grid-area: 2 / 3 / span 3;
    }

}

@media (min-width: 1024px) {
    h1 {
        font-size: 3rem;
    }

    #middle {
        justify-content: space-around;
    }

    #middle img {
        margin-top: 1.5rem;
        max-width: 100%;
    }

}