/* CSS BY CRISTOPHER FARRELL */
/* UPDATED 09.23.2026 */

/*** CSS RESET ***/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*** ROOT STYLES ***/
:root {
    --black: rgb(0, 0, 0);
    --tan: rgb(250, 235, 215);
    --main-font: "Fira Sans", sans-serif;
    --title-font: "Mea Culpa", cursive;
}

/***   UNIVERSAL STYLES   ***/
main {
    background-image: url("../images/menu_assets/paper_texture_white.avif");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1.5rem;
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--main-font);
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--black);
    border: 2px var(--black) solid;
}

h1 {
    padding-top: 1rem;
    font-size: 3rem;
    font-family: var(--title-font);
    justify-content: center;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px var(--black) solid;
}

header p, #menu_info {
    justify-self: center;
    font-style: italic;
    font-size: 0.75rem;
}

.bolded {
    font-weight: bold;
}

#middle, #plot {
    padding: 1rem;
    margin: 1rem;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    background-color: var(--black);
    color: var(--tan);
    padding: 1rem;
}

footer a {
    text-decoration: none;
    color: var(--green);
}

.button {
    text-decoration: none;
    text-align: center;
    background-color: var(--black);
    color: var(--tan);
    padding: 14px 20px;
    display: inline-block;
    font-weight: bold;
    border-radius: 10px;
    border: 4px var(--black) outset;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: var(--tan);
    color: var(--black);
}

.dishes {
    max-width: 1200px
}

.w3-grid {
    padding-top: 8px;
    display: grid;
}

/***   MED SCREEN STYLES   ***/
@media (min-width: 768px) {
    h1{ 
        font-size: 4rem;
    }

    main {
        display: grid;
        grid-template-columns: repeat(3, 1 fr);
        place-items: start left;
    }

    header {
        grid-area: 1 / span 3;
    }

    header p {
        justify-self: left;
    }

    .dishes {
        padding-top: 2rem;
        grid-area: 2 / span 2;
    }

    #menu_info {
        margin-top: 6rem;
        grid-area: 3 / span 2;
        place-content: center;
    }

    #middle {
        grid-area: 2 / 1;
        line-height: 2.5rem;
    }

    #plot { 
        padding-top: 0.5rem;
        grid-area: 3 / 1;
        line-height: 2rem;
    }

    footer {
        width: 100%;
    }
}

/***   LARGE SCREEN STYLES   ***/
@media (min-width: 1024px) {
    main {
        grid-template-columns: repeat(4, 1fr);
    }

    header {
        grid-area: 1 / span 4;
    }

    #middle {
        grid-area: 2 / 1;
    }

    #plot {
        grid-area: 2 / span 2;
        line-height: 3rem;
    }

    #menu_info {
        grid-area: 2 / 4;
    } 

    .dishes {
        grid-area: 3 / span 4;
    }
}