/* CSS BY CRISTOPHER FARRELL */
/* UPDATED 09.23.2026 */

/*** CSS RESET ***/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*** ROOT STYLES ***/
:root {
    --green: rgb(127, 255, 0);
    --gray: rgb(105, 105, 105);
    --brown: rgb(222,184,135);
    --black: rgb(0, 0, 0);
    --title-font: "Rubik Glitch", system-ui;
    --main-font: "Winky Rough", sans-serif;
}

/***    UNIVERSAL STYLES    ***/
body {
    background-image: url("../images/dark_clouds.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: var(--main-font);
    font-size: 1rem;
    line-height: 1.5rem;
}

main {
    background-color: rgba(222, 184, 135, 0.3);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    margin: 2rem;
    padding: 1.5rem;
    justify-content: center;
    align-items: center;
}

h1 {
    display: none;
}

#title_poster, #plot {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#plot img {
    margin-bottom: 1.25rem;
}

img {
    width: 80vw;
    height: auto;
    max-width: 90%;
}

img, #middle p, #plot p {
    border: 4px var(--green) groove; 
    border-radius: 12px;
    box-shadow: 6px 4px var(--black);
}

#middle p, #plot p {
    justify-content: center;
    padding: 1rem;
    margin: 0.5rem;
    background-color: var(--brown);
}

#middle {
    padding: 1.5rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}


.button {
    text-decoration: none;
    text-align: center;
    background-color: var(--black);
    color: var(--green);
    padding: 14px 20px;
    display: inline-block;
    font-weight: bold;
    border-radius: 10px;
    border: 4px var(--black) outset;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: var(--green);
    color: var(--black);
}

footer {
    background-color: var(--gray);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px var(--green) dashed;
    padding: 0.75rem;
}

footer a {
    text-decoration: none;
    color: var(--green);
}

/***    MED SCREEN STYLES    ***/
@media (min-width: 680px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        font-size: 1.25rem;
    }

    #title_poster {
        grid-area: 1 / span 2;
    }

    #middle {
        display: flex;
        flex-direction: column;
    }

    #middle p {
        margin: 1rem;
    }

    #plot {
        padding-top: 2rem;
        grid-area: 2 / span 3;
        display: flex;
        flex-direction: column-reverse;
        gap: 1rem;
    }

}

/***    LARGE SCREEN STYLES     ***/
@media (min-width: 1200px) {
    main {
        font-size: 1.5rem;
    }
}