/* CSS BY CRISTOPHER FARRELL */
/* UPDATED 09.22.2026 */

/*** CSS RESET ***/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*** ROOT STYLES ***/

:root {
--black: rgb(0, 0, 0);
--gold: rgb(255, 215, 0);
--gray: rgb(220, 220, 220);
--white: rgb(248, 248, 255);
--reddish: rgb(255, 99, 71);
--main-font: "Quantico", sans-serif;
--bit-font: "Bitcount Grid Double", system-ui;
}

/*** UNIVERSAL STYLES ***/

body {
    background-image: url("../images/background-texture.avif");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

body, header, section, footer {
    font-family: var(--main-font);
    font-size: medium;
    color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.25rem;
    margin: 1.5rem;
    line-height: 1.5;
    width: 100%;
}

h1 {
    font-size: 2rem;
    font-family: var(--bit-font);
}


.button {
    text-decoration: none;
    text-align: center;
    background-color: var(--black);
    color: var(--gold);
    padding: 14px 20px;
    display: inline-block;
    font-weight: bold;
    border-radius: 10px;
    border: 4px var(--black) outset;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: var(--gold);
    color: var(--black);
}


header, footer {
    background-color: var(--white);
    border: 2px dotted var(--black);
}

#blurb h2 {
    visibility: hidden;
}

#blurb {
    margin: 0 1.5rem;
}

#skills_examples h2 {
    margin: 1.75rem 0;
    padding: 0.5rem 0.75rem;
    border: 2px dotted var(--black);
    font-size: 1.25rem;
    font-family: var(--bit-font);
    background-color: var(--white);
}

.movie_poster {
    width: 20rem;
    height: auto;
    aspect-ratio: 2 / 3;
    background-color: var(--gold);
    padding: 12px;
    margin: 12px;
    border-radius: 8px;
    border: 4px var(--black) inset;
}

img {
    width: 18em;
    height: auto;
    aspect-ratio: 2 / 3;
    max-width: 100%;
    padding: 8px;
    border: 10px var(--white) dotted;
}

p {
    text-align: center;
}

/*** MOBILE FIRST ***/

header p {
    padding: 1rem 0;
}

#top_buttons a, #middle_buttons a{
    margin: 0 1rem;
}

/*** MED SCREENS ***/

@media (min-width: 650px) {
    #skills_examples {
        display: grid;
        grid-template-columns: auto auto;
        justify-items: center;
        align-items: center;
    }

    #middle_buttons {
        grid-area: 1 / span 2;
        justify-content: center;
    }

    #skills_examples h2 {
        grid-area: 2 / span 2;
        text-align: center;
    }

    #posters {
        grid-area: span 2;
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .movie_poster {
        align-items: center;
        justify-content: center;
    }

    img {
        max-width: 90%;
    }
}

/*** LARGE SCREENS ***/

@media (min-width: 1200px) {
    #skills_examples {
        grid-template-columns: auto auto auto auto;
    }

    #middle_buttons {
        grid-area: 1 / span 4;
    }

    #skills_examples h2 {
        grid-area: 2 / span 4;
    }

    #posters {

        display: flex;
        flex-direction: row;
    }

}
