/* CSS BY CRISTOPHER FARRELL */
/* UPDATED 09.25.2026 */

/*** CSS RESET ***/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*** ROOT STYLES ***/
:root {
    --white: rgb(248, 248, 255);
    --black: rgb(0, 0, 0);
    --red: rgb(220, 20, 60);
    --blue: rgb(0, 0, 205);
    --gold: rgb(255, 215, 0);
    --main-font: "Geist Pixel", sans-serif;
    --title-font: "Nabla", system-ui;
}

/***   UNIVERSAL STYLES   ***/
body {
    background-color: var(--black);
}

main {
    font-family: var(--main-font);
    font-size: 1rem;
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin: 1rem;
    line-height: 1.5rem;
    border: 6px var(--blue) double;
}

img {
    width: 75vw;
    height: auto;
    max-width: 80%;
}

#art {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}

#art img {
    border: 2px var(--gold) inset;
}

#zeus {
    grid-area: 1 / 1;
}

#arms {
    grid-area: 2 / 2;
}

#skele {
    grid-area: 3 / 1;
}

#t_a {
    grid-area: 4 / span 2;
}


footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--red);
    color: var(--white);
    align-items: center;
    text-shadow: 3px 2px var(--black);
    border: 4px var(--blue) double;
}

footer p {
    padding: 1rem;
}

footer a {
    text-decoration: none;
    color: var(--blue);
    text-shadow: 3px 2px var(--gold);
}

.button {
    text-decoration: none;
    text-align: center;
    background-color: var(--black);
    color: var(--gold);
    padding: 14px 20px;
    display: inline-block;
    font-weight: bold;
    border-radius: 10px;
    border: 4px var(--black) outset;
    transition: background-color 0.3s ease;
    text-shadow: none;
}

.button:hover {
    background-color: var(--gold);
    color: var(--black);
}

/***   LARGE SCREEN STYLES    ***/
@media (min-width: 1024px) {
    
}